.AllProjectsParent{
    width: 100%;
}
.AllProjectsParent > *{
    padding-top: 5rem;
    text-align: left;
}
.AllProjectsParent > * > *{
    width: 65vw;
    min-width: 30rem;
    margin: 0 auto;
}
.AllProjectsParent *{
    color: var(--secondary-color);
}