.headerParent{
    width: 100%;
    height: 5rem;
    position: fixed;
    top: 0;
    display: flex;
    backdrop-filter: blur(20px);
    z-index: 100;
}
.headerParent::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    z-index: -1;
  }
  
.name{
    margin: auto;
    margin-left: 1rem;
    color: var(--secondary-color);
    font-size: 1.2rem;
}
.contactMe{
    color: var(--secondary-color);
    background: none;
    padding: 0.25rem 0.5rem;
    font-size: 1.2rem;
    font-weight: 600;
    border: none;
    border-radius: 0.4rem;
    text-align: center;
    margin: auto 1rem auto 0;
    transition: 0.1s;
}
.contactMe:hover, .contactMe:focus {
    cursor: pointer;
    filter: brightness(110%);
    scale: 1.2;
}
.contactMe:active {
    scale: 1.1;
}

@media(max-width: 870px){
    .headerParent{
        justify-content: center;
        gap: 4rem;
    }
    .contactMe{
        font-size: 1.5rem;
        padding: 0.3rem 2rem;
        margin: auto 0;
    }
  }

  @media (max-width: 620px){
    
    .contactMe{
        font-size: 1.4rem;
        padding: 0.3rem 1.2rem;
        margin: auto 0;
    }
    .headerParent{
        justify-content: space-evenly;
        gap: 0rem;
    }
  }
  @media (max-height: 700px){
    .headerParent{
        height: 3rem;
    }
}
@media (max-height: 550px){
    .headerParent{
        height: 2rem;
    }
    .contactMe{
        font-size: 1.1rem;
        padding: 0.05rem 0.6rem;
    }
    
}
@media (max-height: 300px){
    .headerParent{
        display: none;
    }
}