.parent{
    display: grid;
    grid-template-rows: auto auto;
    height: fit-content;
    color: var(--secondary-color);
}
.parent .title{
    font-size: 3rem;
    margin-bottom: 3.5rem;
    text-align: center;
}
.certParent{
    height: fit-content;
    display: flex;
    gap: 5rem;
    justify-content: space-between;
    width: fit-content;
    margin: auto;
}
.certParent img{
    height: 38px;
}
.certTitle{
    font-size: 1.5rem;
}
.certPartParent{
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;
}