.parent{
    display: grid;
    grid-template-rows: auto auto;
    height: fit-content;
    background-color: var(--third-tint-two);
    color: var(--secondary-color);
}
.parent .title{
    font-size: 2rem;
    margin-bottom: 1.5rem;
}
.certParent{
    height: fit-content;
    display: flex;
    gap: 2rem;
    justify-content: space-between;
}
.certParent img{
    height: 20rem;
    border-radius: 0.4rem;
}

