.contactForm{
    height: 100%;
    width: 100%;
    margin: auto;
    text-align: center;
    position: relative;
}
.contactForm h2{
    font-size: 2.5rem;
    color: var(--secondary-color);
    margin: auto;
}
.contactForm input, .contactForm textarea, .submitForm{
    font-size: 1.2rem;
    padding: 0.4rem 0.8rem;
    border-radius: 0.5rem;
}
.contactForm input, .contactForm textarea{
    background: none;
    color: var(--secondary-color);
    border: 0.2rem var(--secondary-color) solid;
    width: 30rem;
}
.contactForm textarea{
    height: 15rem;
    resize: none;
}
.submitForm{
    background: var(--cta-color);
    color: var(--secondary-color);
    text-align: center;
    transition: 0.1s;
    margin: auto;
    border: none;
    width: 100%;
}
.submitForm:hover,.submitForm:focus{
    cursor: pointer;
    filter: brightness(110%);
}
.submitForm:active{
    filter: brightness(105%);
}
.submitForm:disabled{
    opacity: 0.7;
    cursor: default;
    filter: brightness(100%);
}
.contactForm, .contactActualForm{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.formSubmissionMessage{
    height: 1.5rem;
}
@media(max-width: 530px){
    .contactForm input, .contactForm textarea{
        width: 80vw;
    }
}

@media (max-height: 700px){
    .contactForm textarea{
        height: 10rem;
    }
}
@media (max-height: 550px){
    .contactForm{
        margin-top: 1rem;
    }
    .contactForm textarea{
        height: 7rem;
    }
    .contactForm, .contactActualForm{
        gap: 1rem;
    }
    .contactForm h2{
        font-size: 2rem;
    }
}
@media (max-height: 350px){
    .contactForm{
        margin-top: 1rem;
    }
    .contactForm textarea{
        height: 4.5rem;
    }
    .contactForm, .contactActualForm{
        gap: 1rem;
    }
    .contactForm h2{
        font-size: 1.5rem;
        margin: 0;
        margin-top: auto;
    }
}