.contactForm{
    height: 100%;
    width: 100%;
    margin: auto;
    text-align: center;
}
.contactForm h2{
    font-size: 2.5rem;
    color: var(--secondary-color);
    margin: auto;
}
.contactForm input, .contactForm textarea, .submitForm{
    font-size: 1.2rem;
    padding: 0.4rem 0.8rem;
    border-radius: 0.5rem;
}
.contactForm input, .contactForm textarea{
    background: none;
    color: var(--secondary-color);
    border: 0.2rem var(--secondary-color) solid;
    width: 30rem;
}
.contactForm textarea{
    height: 15rem;
    resize: none;
}
.submitForm{
    background: var(--cta-color);
    color: var(--secondary-color);
    text-align: center;
    transition: 0.1s;
    margin: auto;
    border: none;
    width: 100%;
}
.submitForm:hover,.submitForm:focus{
    cursor: pointer;
    filter: brightness(110%);
}
.submitForm:active{
    filter: brightness(105%);
}
.submitForm:disabled{
    opacity: 0.7;
    cursor: default;
    filter: brightness(100%);
}
.contactForm, .contactActualForm{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.formSubmissionMessage{
    height: 1.5rem;
}