.socialLinks{
    border-radius: 0.2rem;
    width: 20rem;
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
}
.socialLinks img{
    width: 2.5rem;
    height: 2.5rem;
    transition: 0.1s;
    filter: brightness(90%);
    margin: 0 auto;
}
.socialLinks img:hover,.socialLinks img:focus {
    scale: 1.2;
    cursor: pointer;
    filter: brightness(110%);
}
.socialLinks img:active{
    scale: 1.1;
}