.homePageParent{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 15rem;
    top: 0;
    position: fixed;
    z-index: -1;
}
.homeText{
    margin: auto;
    display: grid;
    grid-template-rows: repeat(5,auto);
    gap: 1rem;
    padding-top: 10em;
}
.imageSection{
    margin: auto 0;
}
.homeImage{
    height: 30rem;
    width: 30rem;
    border-radius: 0.2rem;
    border: 2rem var(--secondary-color) groove;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3), 0 1.5rem 5rem rgba(0, 0, 0, 0.3);
}
.name{
    font-size: 6.5rem;
    color: var(--secondary-color);
    text-align: center;
}
.jobTitle{
    font-weight: 600;
    font-size: 2.5rem;
    color: var(--secondary-color);
    text-align: center;
    filter: brightness(90%);
}
.socialLinks{
    border-radius: 0.2rem;
    width: 20rem;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin: 0 auto;
}
.socialLinks img{
    width: 2.5rem;
    height: 2.5rem;
    margin-right: auto;
    transition: 0.1s;
    filter: brightness(90%);
}
.socialLinks img:hover,.socialLinks img:focus {
    scale: 1.2;
    cursor: pointer;
    filter: brightness(110%);
}
.socialLinks img:active{
    scale: 1.1;
}

.box {
  width: 100%;
  height: 15rem;
  position: relative;
  overflow: hidden;
  margin-bottom: 2rem;
}

.logo {
  position: absolute;
  width: 13rem;
  height: 8rem;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
.iLove{
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  margin-top: 1rem;
}
.logo .left{
  margin: auto;
  margin-left: 1.5rem;
}
.logo .right{
  margin-right: auto;
}
.logoIcon{
  height: 3rem;
  width: 3rem;
  margin: auto;
}
.downArrowSVG{
  cursor: pointer;
}
.contactMeBoxParent{
  display: grid;
  place-content: center;
}
.footer{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  display: grid;
  height: 10vh;
  background: rgba(0, 0, 0, 0.5);
  place-content: center;
}
.socialPage2Links{
    border-radius: 0.2rem;
    width: 20rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
}

.socialPage2Links img{
  width: 5vh;
  height: 5vh;
  margin-right: auto;
  transition: 0.1s;
  filter: brightness(90%);
}
.socialPage2Links img:hover,.socialPage2Links img:focus {
  scale: 1.2;
  cursor: pointer;
  filter: brightness(110%);
}
.socialPage2Links img:active{
  scale: 1.1;
}

@media(max-width: 870px){
  .name{
    font-size: 5rem;
  }
  .jobTitle{
    font-size: 2rem;
  }
  .socialPage2Links img{
    width: 4vh;
    height: 4vh;
  }
}

@media (max-width: 620px){
  .socialPage2Links{
    width: 100vw;
    justify-content: space-evenly;
  }
  .name{
    font-size: 3.5rem;
  }
  .jobTitle{
    font-size: 1.4rem;
  }
}

@media (max-width: 440px){
  .name{
    font-size: 2.5rem;
  }
}