.webSkillsParent{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 5rem;
}
.webSkillsHeader{
    font-size: 3rem;
    text-align: center;
    color: var(--secondary-color);
}
.eachImageListParent{
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    min-width: 34rem;
    width: 80vw;
    row-gap: 5rem;
    column-gap: 5rem;
    margin: 0 1rem;
    justify-content: center;
}
.imgSecParent{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 8rem;
    height: 8rem;
    border-radius: 0.5rem;
    background-color: var(--secondary-color);
}
.imgSecParent img{
    width: 3.5rem;
    height: 3.5rem;
    margin: 0 auto;
}
.imgSecParent p{
    font-size: 1.5rem;
    margin: 0 auto;
    text-align: center;
    color: var(--primary-color);
}
