#all-main-section-parent{
    display: flex;
    flex-direction: column;
    margin:100vh auto;
    padding: 20rem 0;
    gap: 30rem;
    backdrop-filter: blur(50px);
    box-shadow: 0 -0.2rem 1rem var(--secondary-color);
}
/* #all-main-section-parent > *{
    margin: 0 auto;
    border-radius: 1rem;
    width: 88rem;
    padding: 3rem;
} */
