#all-main-section-parent{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 7rem 0;
    gap: 7rem;
    margin-top: 100vh;
    backdrop-filter: blur(5rem);
}
/* #all-main-section-parent > *{
    margin: 0 auto;
    border-radius: 1rem;
    width: 88rem;
    padding: 3rem;
} */
